<%= form_with(model: employee, local: true, :html => {:style =>"position:absolute; TOP:135px; LEFT:170px;font-size:160%;"}) do |form| %>

  <% if employee.errors.any? %>
    <div id="error_explanation">
    <h6 style="color:red;"><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h6>

    <ul>
    <% employee.errors.full_messages.each do |message| %>
      <li style="font-size:50%;color:red;"><%= message %></li>
    <% end %>
    </ul>
    </div>
  <% end %>


<table class="table">
  <tr>
  <div class="field ">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :employee_first_name, :style => "position:absolute; LEFT:160px;" %>
  </div>
  </tr>
  
  <tr>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :employee_last_name, :style => "position:absolute; LEFT:160px;" %>
  </div>
  </tr>
  
  <tr>
  <div class="field">
    <%= form.label :ssn %> 
    <%= form.text_field :ssn, id: :employee_ssn, :style => "position:absolute; LEFT:160px;" %>
  </div>  
  </tr>
  
  <tr>
  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth, id: :employee_date_of_birth, :style => "position:absolute; LEFT:160px;"  %>
  </div>
  </tr>
  
  <tr>
  <div class="field ">
    <%= form.label :phone %> 
    <%= form.text_field :phone, id: :employee_phone, :style => "position:absolute; LEFT:160px;" %>
  </div>
  </tr>
    
  <tr>
  <div class="field ">
    <%= form.label :role %>
    <%= form.text_field :role, id: :employee_role, :style => "position:absolute; LEFT:160px;" %>
  </div>
  </tr>
  
  <tr>
  <div class="field ">
    <%= form.label :active %>
    <%= form.text_field :active, id: :employee_active, :style => "position:absolute; LEFT:160px;" %>
  </div>
  </tr>
  
  <tr>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :employee_password, :style => "position:absolute; LEFT:160px;" %>
  </div>
  </tr>
</table>
  <div class="actions">
    <%= form.submit "save", :class => 'btn btn-secondary' %>
  </div>
<% end %>


