<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table class="table table-striped">
  <thead>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>SSN</th>
        <th>Date of Birth</th>
        <th>phone</th>
        <th>role</th>
        <th>active</th>
        <th></th>
        <th></th>
        <% if current_employee.role == "admin"%>
          <th></th>
        <% end %>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= current_employee.first_name %></td>
        <td><%= current_employee.last_name %></td>
        <td><%= current_employee.ssn %></td>
        <td><%= current_employee.date_of_birth %></td>
        <td><%= current_employee.phone %></td>
        <td><%= current_employee.role %></td>
        <td><%= current_employee.active %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <% if current_employee.role == "admin"%>
          <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
